@use '../util/breakpoints.scss' as *;
@use '../util/functions.scss' as *;


// This is where mixins will be created . 
@mixin padding {
    padding-right: 27px;
    padding-left: 27px;
}

@mixin transition {
    transition: all .15s ease-in-out;
}

@mixin ctaButton($bg-color, $textColor) {
    background: $bg-color;
    color: $textColor;
    border-radius: 50px;
}

@mixin whiteLine {
    border-bottom: 1px solid #fff;
}
